
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Details</h1>

    <!--ViewBag-->

    <h3>@ViewData["Message"]</h3>

    <p>There are @ViewData["CustomerCount"] customers added into the list</p>

    <table>
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Customer Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["CustomerList"] as List<Customer>)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>

    <hr />

    @Html.ActionLink("Details Page", "Details", "Customer")

    <br />
    <a asp-controller="Customer" asp-action="Message">Message</a>
</body>
</html>
